[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "IAPWS95"]
	path = IAPWS95
	url = https://github.com/shivaway/iapws95
	shallow = true
	registered = true
